.billing-details{
    #bill-form{
        .form-group{
            .error-infor{
                color: red;
                font-size: 13px;
            }
        }
    }
}
.order-details{
    .error-infor{
        color: red;
        font-size: 13px;
    }
}